{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <div>
        <h1>Redovisning</h1>
        <hr class="my-4">

        <h2>Kursmoment</h2>
        <ul class=" mb-4">
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom07">Kmom07/10</a></li>
        </ul>

        <h4 id="kmom01" class="mt-5">Kmom01</h4>
        <p><strong>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</strong><br>
            De enda förkunskaper jag har kommer från den nyligen avslutade oopython-kursen.</p>
            
            <p><strong>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</strong><br>
            Man bör rimligtvis känna till och förstå syntaxen för att skapa en klass och sedan hur man skapar ett objekt från klassen. Men den kanske högsta tröskeln är att förstå vad en klass egentligen är och gör. Man kan likna det vid en ritning som beskriver vad ett objekt har för egenskaper och vad det kan göra. Ett objekt är en instans av en klass. I oopythonkursen kollade jag på en film som liknade det vid människokroppen där en människa är klassen, kroppsdelarna är egenskaper (attribut), kroppsfunktioner som syn, gång, hörsel etc är vad klassen kan göra (metoder). Människan är klassen, och riktiga personer är instanser av klassen, alltså objekt. </p>
            
            <p><strong>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</strong><br>
            Stökigt och svårgreppbart. För att sätta upp de första routrarna kunde man lyckligtvis begränsa sig till ett fåtal filer och kataloger att jobba i, och en del upprepad kod (bra för att nöta in syntax) men misstänker att det blir betydligt värre härifrån. Valde att lägga in en Bootstrap-css-fil för att inte behöva fastna alltför länge i css-bekymmer jag har en tendens att sitta med alldeles för länge i vanliga fall. </p>
            
            <p><strong>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</strong><br>
            Kan inte påstå att jag läst den i detalj, men fastnade för Composer-stycket som jag tyckte var intressant. Har inte kommit i kontakt med det innan kursen, så det var välbehövligt att läsa om. Tyckte också stycket om compiled templates var intressant iom att vi ska använda det en del nu med Twig. Stod inte så mycket om objektorienterad php, och informationen det länkades till om det påminner mycket om det som finns på dbwebb.</p>
            
            <p><strong>Vilken är din TIL för detta kmom?</strong><br>
            Hur man installerar Symfony. Och en liten reflektion kring hur överväldigad jag blir i starten av varje ny kurs och tror att det kommer bli nästintill omöjligt att komma i mål. Men sen brukar det klarna med tiden och kännas hyfsat bekvämt framåt kmom06-kmom07.</p>

        <h4 id="kmom02" class="mt-5">Kmom02</h4>
        <p>Text...</p>

        <h4 id="kmom03" class="mt-5">Kmom03</h4>
        <p>Text...</p>

        <h4 id="kmom04" class="mt-5">Kmom04</h4>
        <p>Text...</p>

        <h4 id="kmom05" class="mt-5">Kmom05</h4>
        <p>Text...</p>

        <h4 id="kmom06" class="mt-5">Kmom06</h4>
        <p>Text...</p>

        <h4 id="kmom07" class="mt-5">Kmom07/10</h4>
        <p>Text...</p>
        
        </div>
{% endblock %}