{% extends "base.html.twig" %}

{% block title %}Redovisning{% endblock %}

{% block body %}
    <div>
        <h1>Redovisning</h1>
        <hr class="my-4">

        <h2>Kursmoment</h2>
        <ul class=" mb-4">
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom07">Kmom07/10</a></li>
        </ul>

        <h4 id="kmom01" class="mt-5">Kmom01</h4>
        <p>Text...</p>

        <h4 id="kmom02" class="mt-5">Kmom02</h4>
        <p>Text...</p>

        <h4 id="kmom03" class="mt-5">Kmom03</h4>
        <p>Text...</p>

        <h4 id="kmom04" class="mt-5">Kmom04</h4>
        <p>Text...</p>

        <h4 id="kmom05" class="mt-5">Kmom05</h4>
        <p>Text...</p>

        <h4 id="kmom06" class="mt-5">Kmom06</h4>
        <p>Text...</p>

        <h4 id="kmom07" class="mt-5">Kmom07/10</h4>
        <p>Text...</p>
        
        </div>
{% endblock %}